@charset "UTF-8";

#wrap {
	width:1200px;
	height:800px;
	margin:auto;
}

header {
	height:70px;
}

.content {
	height:500px;
}

.content > .join-box {
	width:400px;
}

footer {
	height:50px;
}

.login-box {
	width:400px;
}